.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 25px;
  font-size: 1rem;
}

.btn-orange {
  background-color: #ff9922;
  color: #fff;
  border: none;
}

.btn-orange-outline {
  background-color: transparent;
  border: solid 1px #ff9922;
  color: #ff9922;
}

.btn-white-outline {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
}
