@media screen and (min-width: 910px) and (max-width: 1277px) {
  body {
    zoom: 0.7;
  }
}

@media screen and (min-width: 769px) and (max-width: 909px) {
  body {
    zoom: 0.6;
  }
}

/*#region commons */

.container-fluid {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid.bg-blue {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.container-fluid.bg-blue header,
.container-fluid.bg-blue .articles {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}

.banner-div {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}

.banner-div img.desktop {
  display: block;
}

/*#endregion commons */

/*#region Header */

#mob-header {
  display: none;
}

#desk-header nav ul li a {
  color: #fff;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
}

#desk-header .carreiras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#desk-header .carreiras .logo {
  width: 240px;
}

#desk-header .carreiras nav {
  width: 33%;
}

#desk-header .carreiras nav ul {
  display: flex;
  flex-direction: row;
}

#desk-header .carreiras nav ul li a {
  height: 86px;
}

#desk-header .carreiras nav ul li a:hover {
  background-color: #ff8900;
}

#desk-header .carreiras nav.secund {
  display: flex;
  justify-content: flex-end;
}

/*#endregion Header */

/*#region Header - Blog */

#desk-header .blog {
  background-color: #4499cc;
}

#desk-header .blog > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#desk-header nav.blog > ul li a {
  height: 65px;
}

/*#endregion Header - Blog */

/*#region Dopdown */

#desk-header nav.blog .dropdown {
  position: relative;
}

#desk-header nav.blog a.active {
  background-color: #308ec7;
}

#desk-header nav.blog .dropdown-content {
  display: none;
  width: 190px;
  background-color: #308ec7;
  padding: 2%;
  position: absolute;
  top: 55px;

  font-size: 0.9em;
}

#desk-header nav.blog li.first a {
  font-size: 1.6rem;
  font-weight: bold;
}

#desk-header nav.blog li a i {
  margin-left: 10px;
}

#desk-header nav.blog .dropdown-content li a {
  height: auto;
  padding: 0;
  color: #fff;
  justify-content: left;
  margin: 2%;
}

#desk-header nav.blog .dropdown-content li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*#endregion Dropdown */

/*#region Your Job */

#your-job h1 i,
#your-job .read-more-all {
  display: none;
}

#your-job .container-fluid {
  padding: 2%;
}

#your-job .articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% -2% -2%;
}

#your-job .articles article {
  margin: 2%;
}

#your-job article .read-more {
  margin-top: 4%;
}

/*#endregion Your Job */

/*#region Main Footer */

#main-footer {
  margin-top: 6%;
}

/*#endregion Main Footer */

/*#region Footer - Nav */

#footer-nav {
  margin-top: 2%;
}

#footer-nav .career ul,
#footer-nav .jobs ul {
  float: left;
}

#footer-nav .career ul.secund,
#footer-nav .jobs ul.secund {
  margin-left: 45px;
}

footer section.social-icons {
  justify-content: center;
}

footer section.social-icons a {
  margin: 0 15px;
}

/*#endregion Footer - Nav */

/*#region Archives */

/*#region Archives - default */

.archives .articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-auto-rows: 1fr;
}

.archives .articles article {
  width: 31.4%;
  margin-top: 2rem;
}

.archives .articles article img {
  width: 100%;
  height: auto;
}

.archives .articles article .article-body {
  display: flex;
  flex-direction: column;
  height: 254px;
}

.archives .articles article .article-body .btn-orange {
  margin-top: auto;
}

.archives .articles.default article,
.archives .articles.default article .h3 {
  margin-top: 0;
}

.archives .articles.default article.even {
  margin-left: 2rem;
  margin-right: 2rem;
}

/*#endregion Archives - default */

/*#region Archives - big-first */

.archives .articles.big-first article.odd {
  margin-left: 2rem;
  margin-right: 2rem;
}

.archives .articles.big-first article:first-child {
  margin: 0;
}

.archives .articles.big-first article:first-child {
  display: flex;
  width: 100%;
}

.archives .articles.big-first article:first-child img {
  width: 633px;
}

.archives .articles.big-first article:first-child .article-body {
  padding-left: 2.2rem;
}

/*#endregion Archives - big-first */

/*#region Archives - big-last */

.archives .articles.big-last {
  position: relative;
}

.archives .articles.big-last article:first-child,
.archives .articles.big-last article:last-child {
  margin-top: 0;
}

.archives .articles.big-last article {
  width: 66%;
  display: flex;
}

.archives .articles.big-last article .item {
  width: 48%;
  height: 100%;
  display: block;
  flex: none;
}

.archives .articles.big-last article .article-body.item {
  padding-left: 4%;
}

.archives .articles.big-last article .article-body.item .h3 {
  margin-top: 0;
}

.archives .articles.big-last article .article-body .btn {
  position: absolute;
  bottom: 4px;
}

.archives .articles.big-last article:last-child {
  width: 31%;
  height: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.archives .articles.big-last article:last-child .item {
  width: 100%;
  height: 50%;
}

/*#endregion Archives - big-last */

.archives.noticias .btn-orange-outline {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*#endregion Archives */
