@charset "UTF-8";

/* Seu Emprego */

.your-job {
  background-color: #284d8a;
  color: #fff;
  padding-top: 9%;
  padding-bottom: 9%;
}

.your-job h1 {
  font-size: 2.5rem;
  font-weight: 700 bold;
}

.your-job h1 i {
  font-size: 1.7rem;
  font-weight: lighter;
  padding: 10px 0px 0px 10px;
  vertical-align: text-top;
}

.your-job article h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

.your-job article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.your-job article p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.your-job article {
  margin-top: 11%;
}

.your-job article .read-more {
  margin-top: 6%;
}

.your-job .read-more-all {
  color: #fff;
  border-color: #fff;
  width: 100%;
  margin-top: 9%;
}

/* RODAPÉ -> Icons */

footer section.social-icons {
  display: flex;
  width: 100%;
  margin-top: 14%;

  font-size: 1.8em;
  justify-content: center;
  justify-content: space-around;
}

footer section.social-icons a {
  color: rgb(255, 255, 255);
  background-color: #ff9922;
  text-align: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

footer section.social-icons a .fa {
  line-height: 47px;
}

footer section.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section.nav .box {
  margin-top: 9%;
}

footer section.nav .box.career {
  width: 35%;
}

footer section.nav .box.jobs {
  width: 60%;
}

footer section.nav .box.about-us {
  width: 47%;
}

footer section.nav .box.help {
  width: 35%;
}

footer section.nav ul {
  padding: 0;
}

footer section.nav h2 {
  font-size: 1.5rem;
  color: #4499cc;

  width: 100%;
  height: 40px;
  border-bottom: #565656 solid 1px;
}

footer section.nav ul {
  margin-top: 13px;
}

footer section.nav ul li {
  margin-bottom: 8px;
}

footer section.nav ul li.mt {
  margin-top: 30px;
}

footer section.nav a {
  font-size: 1em;
  color: #565656;
}

/* RODAPÉ -> Lista */

.footer .first a {
  font-size: 1.3em;
  font-weight: bold;
  color: #4499cc;
  border-bottom: 1px #565656 solid;
  padding-bottom: 7%;
}

.footer .first {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* ========== MOBILE FIRST ==========*/
/* SMALL DEVICES - SMARTPHONES */

@media screen and (min-width: 768px) {
  /* RODAPÉ -> Icons */

  footer {
    display: block;
    margin-top: 800px;
  }

  .social-icons a {
    text-align: center;
    border-radius: 50%;
    width: 58px;
    height: 58px;
  }

  .social-icons a .fa {
    font-size: 1.3em;
    line-height: 58px;
  }

  /* RODAPÉ -> Lista */

  .footer-ul {
    display: block;
    padding: 1% 10%;
    font-size: 1.1em;
  }

  .footer {
    width: 50%;
  }

  .footer li {
    padding-bottom: 5px;
  }

  .footer li a {
    font-size: 1.2em;
    color: #565656;
    margin-bottom: 5px;
  }

  .footer .first a {
    font-size: 1.7em;
    font-weight: bold;
    color: #4499cc;
    border-bottom: 1px #565656 solid;
    padding-bottom: 7%;
  }

  .footer .first {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .rigth {
    padding-left: 8%;
  }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
  /* RODAPÉ -> Icons */

  .social-icons {
    justify-content: center;
    font-size: 1.3em;
  }

  .social-icons a {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-left: 25px;
  }

  .social-icons a .fa {
    line-height: 47px;
  }

  /* RODAPÉ -> Lista */
  .grid {
    display: grid;
    gap: 10px;
  }

  .footer {
    width: 50%;
  }

  .adjust {
    padding-right: 10px;
  }

  .footer .footer-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer li {
    padding-bottom: 5px;
  }

  .footer li a {
    font-size: 1em;
    color: #565656;
    margin-bottom: 5px;
  }

  .footer .first a {
    font-size: 1.3em;
    border-bottom: none;
  }

  .footer .first {
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px #565656 solid;
    padding-bottom: 20px;
  }

  .footer-ul {
    padding: 10px 100px;
    font-size: 0.9em;
  }

  .footer-ul ul {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .left {
    padding: 20px;
  }

  .rigth {
    padding: 20px;
  }
}
