/* CABEÇALHO - Logo e Menu*/

header nav ul li a {
  font-family: "Montserrat", sans-serif;
}

.navbar-mobile {
  height: 86px;
  display: flex;
  align-items: center;
}

.cabecalho .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho {
  padding: 0;
}

/* ========== MOBILE FIRST ==========*/
/* SMALL DEVICES - SMARTPHONES */
@media screen and (min-width: 0px) {
  .menu-desk {
    display: none;
  }

  .navbar-desk {
    display: none;
  }
  .outside-menu {
    display: none;
  }

  .secund-desk {
    display: none;
  }
}

/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
  .navbar-desk {
    display: none;
  }

  .outside-menu {
    display: none;
  }

  /* Menu */
  .btn-close {
    width: 40%;
  }

  .subtitle-header {
    font-size: 1.9em;
  }

  .menu-mobile {
    font-size: 1.1em;
  }

  .input-button .search {
    font-size: 1.1em;
  }

  .menu h1 {
    font-size: 1.7em;
  }
}
/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
  .navbar-mobile {
    display: none;
  }

  .secund-desk {
    display: flex;
    height: 65px;
  }

  .secund-desk ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4499cc;
    padding: 1% 5%;
    width: 100%;
  }

  .secund-desk .first-line a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .secund-desk ul li a {
    color: #fff;
  }

  .navbar-desk {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 0.9em;
    height: 86px;
  }

  .job {
    cursor: pointer;
  }

  .first-menu {
    display: flex;
    align-items: center;
  }

  .first-menu ul {
    display: flex;
    padding: 15px;
  }

  .first-menu li a {
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
  }

  .first-menu li a:hover {
    background-color: #ff8900;
    padding: 30px;
  }

  .cabecalho .btn-menu {
    display: none;
  }

  .last-search {
    padding-left: 50px;
    font-size: 1.2rem;
  }
}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {
  .secund-desk ul ul {
    width: 160px;
  }
}

@media screen and (min-width: 1560px) {
  .secund-desk ul {
    padding: 1% 10%;
  }

  .secund-desk ul ul {
    width: 160px;
  }
}
